@model NguyenThiTrucQuynh_buoi4.Models.Category

@{
    ViewData["Title"] = "Chi tiết danh mục";
}

<h2>Chi tiết danh mục</h2>
<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Name:</strong> @Model.Name</p>
<a asp-action="Index" class="btn btn-secondary">Quay lại</a>
